
<table>
    <tbody>
        <tr>
            <td><a asp-controller="Manager" asp-action="CreatePond" class="btn btn-secondary">Create Pond</a></td>
            <td><a asp-controller="Manager" asp-action="CreateFish" class="btn btn-secondary">Create Fish</a></td>
            <td><a asp-controller="Manager" asp-action="AllCategories" class="btn btn-secondary">All Categories</a></td>
            <td><a asp-controller="Manager" asp-action="AllCustomers" class="btn btn-secondary">All Customers</a></td>
            <td><a asp-controller="Manager" asp-action="AllOrders" class="btn btn-secondary">All Orders</a></td>
            <td><a asp-controller="Manager" asp-action="AllPonds" class="btn btn-secondary">All Ponds</a></td>
            
        </tr>
    </tbody>
</table>


