@{
    Layout = "~/Views/Shared/_Layout2.cshtml";


    if (TempData["reply"] != null)
    {
        <div class="alert alert-success">
            @TempData["reply"]
        </div>
    }
}

<div class="container d-flex align-items-center justify-content-center">
    <div class="card p-4 shadow-sm w-100" style="max-width: 650px;">
        <form asp-action="OrderMessage" method="post">

            <li>
                <div class="mb-3">
                    <label class="form-label">Do you want to fund your Wallet?</label>
                </div>
            </li>
            <a asp-action="FundWallet" asp-controller="Customer">YES</a>
            <a asp-action="DashBoard" asp-controller="Customer">NO</a>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
