
@model Application.DTO.StaffRequestModel

<div class="container d-flex align-items-center justify-content-center">
    <div class="card p-4 shadow-sm w-100" style="max-width: 650px;">
        <h3 class="text-center mb-4">Register</h3>
        <form asp-action="RegisterManager">
            <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input type="email" class="form-control" placeholder="Enter your email" asp-for="Email" />
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input type="password" class="form-control" placeholder="Enter your password" />
                </div>
            <div class="mb-3">
                <label asp-for="ConfirmedPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" placeholder="confirm your password"/>
            </div>
                <div class="mb-3">
                <label asp-for="FirstName" class="form-label">First Name</label>
                <input type="text" class="form-control" placeholder="Enter your first name" asp-for="FirstName" />
            </div>
            <div class="mb-3">
                <label asp-for="LastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" placeholder="Enter your last name" asp-for="LastName" />
            </div>
            <div class="mb-3">
                <label asp-for="PhoneNumber" class="form-label">Phone</label>
                <input type="tel" class="form-control" placeholder="Enter phone number" asp-for="PhoneNumber" />
            </div>
            <div class="mb-3">
                <label asp-for="Address" class="form-label">Address</label>
                <input type="text" class="form-control" placeholder="Enter your home address" asp-for="Address" />
            </div>
            <div class="mb-3">
                <label asp-for="Gender" class="form-label">Gender</label>
                <select class="form-control" asp-for="Gender" asp-items="Html.GetEnumSelectList<Domain.Enum.Gender>()">
                    <option value="">Select Gender</option>
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="Qualification" class="form-label">Qualification</label>
                <input type="text" class="form-control" placeholder="qualification" asp-for="Qualification" />
            </div>
            <div class="mb-3">
                <label asp-for="YearOfExperience" class="form-label">Year Of Experience</label>
                <input type="tex" class="form-control" placeholder="educational experience" asp-for="YearOfExperience" />
            </div>
            <div class="d-grid">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="AllManagers">Back to List</a>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



